.contact_form {
	max-width: 400px;
	position: relative;
	background: rgba(255, 255, 255, 0.9);
	max-height: 100%;
	/*overflow: auto;*/
	text-align: center;
}

.contact_form .waiting_block {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	background:
		url(../img/spinner.gif) center center no-repeat,
		rgba(255, 255, 255, 0.4);
	z-index: 100;
	top: 0;
	left: 0;
}
.contact_form.waiting_for_response .waiting_block {
	display: block;
}

.contact_form .form_inner_container {
	max-height: 100vh;
	overflow: auto;
	position: relative;
	padding: 45px 25px 45px;
	border-bottom: 3px solid #1f8ffd;
}

.contact_form .block_main_title {
	font-weight: 700;
	color: #2e3346;
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 30px;
	width: 100%;
}

.contact_form .logo {
	max-width: 150px;
	position: relative;
	top: -24px;
}

.contact_form .spmhidip {
	display:none;
	width:10px;
	height:3px;
}

.contact_form .input_group {
	width: 100%;
	padding: 0px 15px;
	float: left;
	margin-bottom: 16px;
}
.contact_form .input_group:last-child {
	margin-bottom: 0;
}
.contact_form .input_group.info_group {
	color: #333333;
	text-align: left;
	margin-top: 10px;
}
.contact_form .input_group.input_submit {
	margin-top: 30px;
}
.contact_form .input_group.input_phone_code {
	width: 117px;
}
.contact_form .input_group.input_phone_num {
	width: calc(100% - 117px);
}

.contact_form .input_group.info_group .terms_info {
	font-size: 11px;
}

.contact_form .input_group.info_group .instruction_info {
	font-size: 15px;
}

.contact_form .input_group.info_group .instruction_info a {
	color: #2196f3;
}
.contact_form .input_group.info_group .instruction_info a:hover {
	text-decoration: underline;
}

.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form input[type="tel"],
.contact_form input[type="password"],
.contact_form textarea,
.contact_form select {
	width: 100%;
	resize: none;
	font-size: 18px;
	line-height: 1;
	background: none;
	color: #2e3346;
	overflow: hidden;
	position: relative;
	padding: 9px 0px;
	border: none;
	border-bottom: 1px solid #dcdcdc;
}
.contact_form select {
	padding: 7px 0px;
	font-family: 'Roboto Mono', monospace;
}

.contact_form input[type="text"]:focus,
.contact_form input[type="email"]:focus,
.contact_form input[type="tel"]:focus,
.contact_form input[type="password"]:focus,
.contact_form textarea:focus,
.contact_form select:focus {
	border-color: #1f90fd;
}

.contact_form input::placeholder {opacity: 1; color: #999999;}
.contact_form textarea::placeholder {opacity: 1; color: #999999;}
.contact_form select::placeholder {opacity: 1; color: #999999;}

.contact_form .submit {
	padding: 15px 0;
	display: inline-block;
	background: linear-gradient(to left, #30bbfd 5px, #1f8ffd);
	text-transform: uppercase;
	font-weight: 400;
	color: #fff;
	width: 100%;
	max-width: 165px;
	text-align: center;
	font-size: 18px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: relative;
	border: none;
	letter-spacing: 0.06em;
}

.contact_form .submit:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: #1f8ffd;
	width: 0;
	height: 100%;
	transition: width ease 0.5s;
}
.contact_form .submit:hover:before {
	width: calc(100% - 5px);
}

.contact_form .submit span {
	position: relative;
}

.contact_form .close {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background: none;
	border: none;
	right: 10px;
	top: 10px;
}

.contact_form .close:before,
.contact_form .close:after {
	content: "";
	width: 100%;
	border-bottom: 2px solid #1f8ffd;
	display: block;
	position: absolute;
	left: 0;
	top: calc(50% - 1px);
	transform-origin: center center;
	transform: rotate(45deg);
}
.contact_form .close:after {
	transform: rotate(-45deg);
}

@media screen and (min-width: 768px) {

/*
	.input_group {
		width: 50%;
	}
	.input_group.input_submit,
	.input_group.input_email {
		width: 100%;
	}
*/

}
