.calendar {
	padding-top: 33px;
	padding-bottom: 37px;
}

.calendar .text_block {
	margin-top: 70px;
}

.calendar .text_block .title {
	font-size: 20px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
}

.calendar .text_block .description {
	font-size: 14px;
	color: #666666;
	line-height: 18px;
	margin-top: 15px;
}

@media screen and (min-width: 768px) {

	.calendar {
		padding-top: 50px;
		padding-bottom: 70px;
	}

	.calendar .text_block .title {
		font-size: 24px;
	}

}
