.reset_link_sent {
	padding: 60px 0 60px;
}

.reset_link_sent p {
	font-weight: 300;
	font-size: 20px;
}
.reset_link_sent p.title {
	font-weight: 700;
	font-size: 26px;
}
.reset_link_sent p + p {
	margin-top: 18px;
}

@media screen and (min-width: 992px) {

	.reset_link_sent p {
		font-size: 25px;
	}
	.reset_link_sent p.title {
		font-size: 31px;
	}
	.reset_link_sent p + p {
		margin-top: 22px;
	}

}

@media screen and (min-width: 1200px) {

	.reset_link_sent p {
		font-size: 30px;
	}
	.reset_link_sent p.title {
		font-size: 36px;

	}
	.reset_link_sent p + p {
		margin-top: 28px;
	}

}
