.banner {
	/*display: none;*/
}

.banner {
	position: relative;
	display: block;
	/*max-height: 369px;*/
	overflow: hidden;
	background-image: url(../img/banner.jpg);
	background-position: center top;
	background-size: auto 100%;
	width: 100%;
}

.banner .form_block {
	width: 100%;
	justify-content: center;
}

.banner .text_block .text_block_inner {
	display: none;
}

@media screen and (min-width: 768px) {

	/*.banner {*/
	/*	position: relative;*/
	/*	display: block;*/
	/*	max-height: 369px;*/
	/*	overflow: hidden;*/
	/*	background-image: url(../img/banner.jpg);*/
	/*	background-position: center top;*/
	/*	background-size: 100% auto;*/
	/*}*/

	/*.banner img {*/
	/*	width: 100%;*/
	/*}*/

	.banner .text_block {
		/*position: absolute;*/
		/*height: 100%;*/
		width: 100%;
		left: 0;
		right: 0;
		top: 0;
		text-align: right;
	}

	.banner .text_block .text_block_inner {
		display: block;
		width: 40%;
		text-align: left;
	}

	.banner .text_block .text_block_inner p {
		color: #fff;
		text-shadow: 0px 0px 6px black;
	}
	.banner .text_block .text_block_inner p.first_line {
		font-weight: 300;
		font-size: 20px;
	}
	.banner .text_block .text_block_inner p.second_line {
		font-weight: 700;
		font-size: 26px;
		margin-top: 18px;
	}

	.banner .text_block .text_block_inner .banner_btn {
		padding: 15px 0;
		display: inline-block;
		background: linear-gradient(to left, #30bbfd 5px, #1f8ffd);
		text-transform: uppercase;
		font-weight: 400;
		color: #fff;
		width: 100%;
		max-width: 400px;
		text-align: center;
		font-size: 16px;
		margin-top: 24px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		position: relative;
	}

	.banner .text_block .text_block_inner .banner_btn:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: #1f8ffd;
		width: 0;
		height: 100%;
		transition: width ease 0.5s;
	}
	.banner .text_block .text_block_inner .banner_btn:hover:before {
		width: calc(100% - 5px);
	}

	.banner .text_block .text_block_inner .banner_btn span {
		position: relative;
	}

	.banner .text_block .text_block_inner .banner_btn b {
		font-weight: 700;
	}

	.banner .form_block {
		width: 60%;
		justify-content: flex-end;
	}

}

@media screen and (min-width: 992px) {

	.banner .text_block .text_block_inner p.first_line {
		font-size: 25px;
	}
	.banner .text_block .text_block_inner p.second_line {
		font-size: 31px;
		margin-top: 22px;
	}

	.banner .text_block .text_block_inner .banner_btn {
		padding: 17px 0;
		max-width: 474px;
		font-size: 20px;
		margin-top: 29px;
	}

}

@media screen and (min-width: 1200px) {

	.banner {
		background-size: 100% 100%;
	}

	.banner .text_block .text_block_inner p.first_line {
		font-size: 30px;
	}
	.banner .text_block .text_block_inner p.second_line {
		font-size: 36px;
		margin-top: 28px;
	}

	.banner .text_block .text_block_inner .banner_btn {
		padding: 20px 0;
		max-width: 550px;
		font-size: 24px;
		margin-top: 45px;
	}

}
